/*
File: style.css
Author: Kurucz János
Copyright: 2023, Kurucz János
Group: Szoft I-1 E
Date: 2023-03-25
Github: https://github.com/KuruczJanos/ships.git
Licenc: GNU GPL
*/

body{
    background-color:darkkhaki;
}
h1{ 
    text-align: center;
}
